*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    font-family: sans-serif;
}