.color{
    margin: 0;
    background-color: #157CA5;
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
.cabecera{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2px;
    background-color: #186486;  
}
@media screen and (max-width: 768px) {
    .cabecera {
      flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
      text-align: center;
    }
  
    .cabecera__links {
      margin-top: 10px; /* Añade espacio entre el logo/input y los enlaces de navegación */
    }
  
    .cabecera__logo2 {
      margin-top: 10px; /* Añade espacio entre los enlaces de navegación y el segundo logo */
    }
  }


